@import url(../fonts/caladea.css);
@import url(../fonts/courgette.css);
@import url(jquery-ui.css);
@import url(bootstrap.min.css);

html,
body {
  height: 100%;
  background-color: transparent;
  font-family: "Caladea", sans-serif;
}

.fill {
  min-height: 100%;
  height: 100%;
}

#master-div.loaded {
  background-color: #c4c4c4;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#init-progress-label {
  text-shadow: 2px 2px gray;
}

.bg-purple {
  background-color: #ac4fc6;
}

.logo-text {
  font-family: "Courgette", sans-serif;
  text-shadow: 3px 3px 5px white, 1px 1px black;
  color: #ac4fc6;
}

div.logo {
  background-color: #a4a4a4;
}
