@import url(../fonts/caladea.css);
@import url(jquery-ui.css);
@import url(bootstrap.min.css);

html,
body {
  height: 100%;
  background-color: transparent;
  font-family: "Caladea", sans-serif;
}

.fill {
  min-height: 100%;
  height: 100%;
}

#master-div.loaded {
  background-color: #c4c4c4;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

#init-progress-label {
  text-shadow: 2px 2px gray;
}

.bg-purple {
  background-color: #ac4fc6;
}
