html,
body {
  height: 100%;
}

.fill {
  min-height: 100%;
  height: 100%;
}

#sleep-img {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

#main-content {
  display: none;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(2deg);
  }
  25% {
    transform: rotate(4deg);
  }
  37.5% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(-4deg);
  }
  87.5% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bg-smoke-white {
  background-color: #c5c5c5;
}
