/* courgette-regular - latin */
@font-face {
  font-family: "Courgette";
  font-style: normal;
  font-weight: 400;
  src: url("courgette-v8-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("courgette-v8-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("courgette-v8-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("courgette-v8-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("courgette-v8-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */ url("courgette-v8-latin-regular.svg#Courgette")
      format("svg"); /* Legacy iOS */
}
